.navbar-contact-wrapper {
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: white;
    border-bottom: 3px solid transparent;
    transition: border 0.5s ease;
    transition: transform 700ms ease-in-out;
    background-color: var(--bg-color);
}

.navbar-contact-wrapper.active {
    border-bottom-color: var(--logo-color-light);
}

.contact-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    color: var(--grey-color);
}

.contact-social a:not(:last-child) {
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

.item-dropdown-content {
    position: absolute;
    line-height: 3;
    width: max-content;
    display: none;
}

/* Desktop */
@media screen and (min-width: 1010px) {

    .navbar,
    .contact-navbar-container {
        width: 80vw;
        margin: 0 auto;
    }

    .items-list {
        display: flex;
        font-weight: bold;
        font-size: 18px;
        position: relative;
    }

    .items-list li:not(:last-child) {
        margin-right: 10px;
    }

    .items-list>li {
        padding: 0px 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .items-list li:hover .item-dropdown-content {
        display: block;
    }

    .items-list li.active {
        position: relative;
        background-color: var(--logo-color-light);
    }

    .items-list li.active span {
        color: white;
    }
    
    .item-dropdown {
        position: relative;
    }

    .item-dropdown-content {
        top: 86px;
        left: 0;
        background-color: var(--logo-color-light);
        padding: 0px 10px;
        color: white;
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;
    }
    .item-dropdown-content li:not(:last-child) {
        border-bottom: 2px solid var(--logo-orange);
    }

    .item-dropdown-content li span {
        color: white;
    }

    .item-dropdown-content li:hover span {
        color: var(--logo-orange);
    }
    .item-dropdown-return{
        display: none;
    }
    .items-menu {
        display: none;
    }
}

@keyframes growDown {
    0% {
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

/* Mobile */
@media screen and (max-width: 1010px) {
    .contact-navbar-container {
        flex-direction: column;
        text-align: center;
        line-height: 1.5;
    }

    .navbar {
        justify-content: space-between;
        width: 100%;
    }

    .navbar-logo {
        margin-left: 30px;
    }

    .items-list {
        display: none;
        line-height: 1.5;
        font-size: 18px;
        font-weight: bold;
        width: 100vw;
        background-color: var(--logo-color-light);
        position: absolute;
        top: 84px;
        transition: transform 500ms ease-in-out;
        left: -100%;
    }
    .items-list.open{
        /* transform: translateX(100px); */
        left: 0;
    }
    .items-list.close{
        transform: translateX(-100%);
    }
    .items-list li {
        padding: 15px;

    }

    .items-list li a {
        color: white;

    }

    .items-list li:not(:last-child) {
        border-bottom: 2px solid var(--logo-orange);
    }
    .item-dropdown-content{
        top: 0;
        background-color: var(--logo-color-light);
        left: 0;
        width: 100%;
        height: fit-content;
        padding-top: 55px;
    }
    .item-dropdown-content.open{
        display: block;
        transform: translateX(100%);
    }
    .item-dropdown-return{
        position: absolute;
        cursor: pointer;
        font-size: 21px;
        left: 15px;
        color: var(--logo-orange);
        top: 0;
    }
    .items-menu {
        display: block;
        position: absolute;
        right: 30px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
    }

    .items-menu span {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        transition: ease 0.4s;
        z-index: 1;
    }
    .items-menu.active span{
        background-color: var(--logo-color-light);
    }
    .items-menu span:nth-of-type(1) {
        top: 0;
    }

    .items-menu span:nth-of-type(2) {
        top: 11px;
    }

    .items-menu span:nth-of-type(3) {
        bottom: 0;
    }

    .items-menu.active span:nth-of-type(1) {
        transform: translateY(11px) rotate(-45deg);
    }

    .items-menu.active span:nth-of-type(2) {
        display: none;
    }

    .items-menu.active span:nth-of-type(3) {
        transform: translateY(-11px) rotate(45deg);
    }
}