.navbar-container {
    position: fixed;
    width: 100vw;
    top: 0;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease;
    z-index: 3;
    background-color: white;
    max-height: 180px;
}

.navbar-contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-bottom-color: var(--border-color);
    flex-wrap: wrap;
}

.navbar-contact {
    white-space: normal;
}

.navbar-contact p,
.navbar-contact p a {
    color: var(--grey-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 10vw;
}

.items-list {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 18px;
}

.items-list>li a {
    color: black;
    font-weight: bold;
    white-space: nowrap;
    transition: ease-out 0.5s;
}

li a:hover {
    color: var(--primary-color) !important;
}

.item-dropdown-content {
    position: absolute;
    display: none;
}

.items-menu {
    display: none;
}

.item-dropdown-arrow,
.item-dropdown-back-arrow {
    display: none;
}

/* Desktop Version */
@media screen and (min-width:1010px) {
    .navbar-contact-container {
        margin: 0 10vw;
    }

    .navbar-contact {
        font-size: 16px;
    }

    .navbar-social a {
        margin-right: 20px;
    }

    .navbar {
        margin: 0 10vw;
    }

    .item-selected {
        padding-bottom: 31.5px;
        border-bottom: 3px solid var(--primary-color);
        transition: 0.5s ease;
    }

    .items-list li {
        margin-right: 32px;
        white-space: nowrap;
    }

    .items-list li:last-child {
        margin-right: 0px;
    }

    .items-list>li:hover {
        border-bottom-color: #8aafd4;
    }

    .item-dropdown {
        position: relative;
    }

    .item-dropdown-content {
        background-color: white;
        z-index: 1;
        padding-top: 40px !important;
        border-radius: 4px !important;
        left: 0 !important;
        width: 215%;
    }

    .item-dropdown-content::before {
        content: "";
        border-top: 3px solid var(--primary-color);
        animation: border-spread 1s;
        position: absolute;
        width: 97%;
        top: 30px;
        padding-left: 10px;
    }

    .item-dropdown-content>li {
        line-height: 36px;
        width: 97%;
        border-top: 2px solid transparent;
        transition: 0.5s ease;
        padding: 0px 0px 10px 10px;
    }

    .item-dropdown-content>li:not(:first-child) {
        border-top-color: var(--border-color);
    }

    .item-dropdown-content>li:not(:first-child):hover {
        border-top-color: var(--primary-color);
    }

    .item-dropdown:hover .item-dropdown-content {
        display: block;
    }

    @keyframes border-spread {
        from {
            width: 0%;
        }

        to {
            width: 97%;
        }
    }
}

/* Mobile version */
@media screen and (max-width:1010px) {
    .navbar-contact-container {
        margin: 0;
        flex-direction: column;
    }

    .navbar-contact {
        margin: 10px auto;
        font-size: 12px;
    }

    .navbar-social a {
        margin-right: 30px;
    }

    .navbar-social a:last-child {
        margin-right: 0;
    }

    .navbar {
        padding: 0px 30px;
        margin: 0;
    }

    .items-list {
        display: none;
        padding-top: 10px;
    }

    .items-list>li {
        display: block;
        margin-bottom: 15px;
        border-bottom: 2px solid transparent;
        border-bottom-color: var(--border-color);
        padding-bottom: 15px;
        padding: 0px 0px 15px 30px;
        transition: visibility 0.5s;
    }

    .items-list>li:last-child {
        border-bottom: none;
    }

    .items-slide-active {
        display: block;
        flex-direction: column;
        position: absolute;
        animation: slideToggle 1s;
        top: 86px;
        height: auto;
        width: 100vw;
        left: 0;
        background: white;
        z-index: 1;
    }

    /* .item-dropdown {
    } */

    .item-dropdown-content {
        position: absolute;
        display: none;
        background-color: white;
        left: 0 !important;
        top: 0 !important;
        padding-top: 60px !important;
        z-index: 2;
        width: 100%;
        height: 82%;
    }

    .item-dropdown-content li {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid transparent;
        border-bottom-color: var(--border-color);
    }

    .item-dropdown-content li:last-child {
        border-bottom: none;
    }

    .item-dropdown-content li a {
        padding-left: 30px;
    }

    .item-dropdown-arrow {
        display: inline-block;
        padding-right: 15px;
        position: absolute;
        right: 0;
    }

    .item-dropdown-arrow:hover {
        color: #1a5590;
    }

    .item-dropdown-back-arrow {
        display: none;
        position: absolute;
        top: 15px;
        z-index: 2;
    }

    .items-menu {
        display: block;
        position: absolute;
        top: 39%;
        right: 50px;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .items-menu span {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        transition: ease 0.4s;
        z-index: 1;
    }

    .items-menu span:nth-of-type(1) {
        top: 0;
    }

    .items-menu span:nth-of-type(2) {
        top: 11px;
    }

    .items-menu span:nth-of-type(3) {
        bottom: 0;
    }

    .items-menu.menu-active span:nth-of-type(1) {
        transform: translateY(11px) rotate(-45deg);
    }

    .items-menu.menu-active span:nth-of-type(2) {
        display: none;
    }

    .items-menu.menu-active span:nth-of-type(3) {
        transform: translateY(-11px) rotate(45deg);
    }
}

@keyframes slideToggle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}