.about-section {
    width: 80vw;
    margin: 0 auto;
    line-height: 2;
    height: auto;
}

@media screen and (min-width: 1010px) {
    .about-container {
        margin-top: 16vh;
    }
    .about-section{
        height: 37.5vh;
    }
}

@media screen and (max-width: 1010px) {
    .about-container {
        margin-top: 23vh;
    }

}


@media screen and (max-height:650px) {
    .about-container {
        margin-top: 42vh;
    }
}