@media screen and (min-width: 1010px) {

    .about-container {
        margin-top: 14vh;
    }
}

@media screen and (max-width: 1010px) {
    .about-container {
        margin-top: 23vh;
    }
}


@media screen and (max-height:650px) {
    .about-container {
        margin-top: 42vh;
    }
}