.contact-container {
    width: 80vw;
    margin: 0 auto;
    margin-top: 180px;
}

.contact-header {
    text-align: center;
    background-color: var(--logo-color-light);
    padding: 25px;
    margin-bottom: 25px;
}

.contact-header header {
    font-size: 45px;
    color: white;
}

.contact-header p {
    font-size: 21px;
    line-height: 2;
    color: white;

}

.contact-choice-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    object-fit: cover;
    /* backdrop-filter: ; */
}





