.contact-container {
    width: 80vw;
    margin: 0 auto;
    margin-top: 180px;
}

.contact-header {
    text-align: center;
    background-color: var(--logo-color-light);
    padding: 25px;
    margin-bottom: 25px;
}

.contact-header header {
    font-size: 45px;
    color: white;
}

.contact-header p {
    font-size: 21px;
    line-height: 2;
    color: white;

}

.contact-form-informations-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

.contact-form-informations-wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    left: 0;
    bottom: 0;
}

.contact-form header,
.contact-informations header {
    font-size: 25px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.contact-form header::after,
.contact-informations header::after {
    position: absolute;
    content: "";
    width: 110px;
    border: 2px solid var(--logo-color-light);
    background-color: var(--logo-color-light);
    left: 0;
    bottom: 0;
}
.contact-informations ul li{
    display: flex;
    align-items: center;    
}
.contact-informations ul li p {
    margin-left: 15px;
}
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label,
.form-group input,
.form-group textarea {
    margin-bottom: 1vh;
}

.form-group label {
    font-size: 21px;
}

.form-group input,
.form-group textarea {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--logo-color-light);
    font-size: 18px;
    /* color: var(--logo-color-light); */
    width: 95%;
    height: 35px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px #363636;
    background-color: #e8f0fe;
}

.form-group textarea {
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 6vh;
}


input[type=file] {
    display: none;
}

input[type=file]+label {
    background-color: var(--logo-orange);
    width: 200px;
    text-align: center;
    font-size: 16px !important;
    padding: 15px;
    cursor: pointer;
    border-radius: var(--btn-border-radius);
    margin-bottom: 25px;
}

input[type=file]+label:hover {
    color: white;
}

.btn-submit {
    text-align: center;
    margin: 25px 0px;
}
.btn-submit button{
    background-color: var(--logo-orange);
}

.input-error {
    font-size: 18px;
    color: var(--logo-orange);
}

.job-header {
    /* text-align: center; */
    font-size: 45px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.job-header::after {
    position: absolute;
    content: "";
    width: 170px;
    border: 2px solid var(--logo-color-light);
    background-color: var(--logo-color-light);
    left: 0;
    bottom: 0;
}

/* Desktop */
@media screen and (min-width: 1010px) {
    .contact-form {
        width: 75%;
        margin-right: 35px;
    }

    .contact-informations {
        width: 25%;
    }

    .job-form-container {
        width: 100%;
    }

    .job-form-container form {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(8, 15vh);
        grid-template-areas:
            "nom nom prenom prenom"
            "email email email email"
            "telephone telephone telephone telephone"
            "adresse adresse adresse postal"
            "ville ville pays pays"
            "message message message message"
            "cv cv motivation motivation"
            "button button button button";
        margin-bottom: 35px;
    }

    #nom {
        grid-area: nom;
        margin-right: 25px;
    }

    #prenom {
        grid-area: prenom;
    }

    #email {
        grid-area: email;
    }

    #telephone {
        grid-area: telephone;
    }

    #adresse {
        grid-area: adresse;
        margin-right: 25px;
    }

    #ville {
        grid-area: ville;
        margin-right: 25px;
    }

    #pays {
        grid-area: pays;
    }

    #message {
        grid-area: message;
        height: 15vh;
    }

    #cv {
        grid-area: cv;
        margin-right: 25px;
    }

    #motivation {
        grid-area: motivation;
    }

    .btn-submit {
        grid-area: button;
    }
    #prenom, #pays{
        width: 95%;
    }
    #postal{
        width: 85%;
    }
}

/* Mobile */
@media screen and (max-width: 1010px) {
    .contact-form-informations-wrapper {
        flex-direction: column;
    }
}