.contact-container {
    width: 80vw;
    margin: 0 auto;
    margin-top: 180px;
}

.contact-header {
    text-align: center;
    background-color: var(--logo-color-light);
    padding: 25px;
    margin-bottom: 25px;
}

.contact-header header {
    font-size: 45px;
    color: white;
}

.contact-header p {
    font-size: 21px;
    line-height: 2;
    color: white;

}

.contact-form-informations-wrapper {
    display: flex;
    position: relative;
}
.contact-form-informations-wrapper::after{
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    left: 0;
    bottom: 0;
}
.contact-form header,
.contact-informations header {
    font-size: 25px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.contact-form header::after,
.contact-informations header::after {
    position: absolute;
    content: "";
    width: 110px;
    border: 2px solid var(--logo-color-light);
    left: 0;
    bottom: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label,
.form-group input,
.form-group textarea {
    margin-bottom: 1vh;
}

.form-group label {
    font-size: 21px;
}

.form-group input,
.form-group textarea {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--logo-color-light);
    font-size: 18px;
    color: var(--logo-color-light);
    width: 95%;
    height: 35px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px #363636;
}

.form-group textarea {
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 6vh;
}
.btn-submit {
    text-align: center;
    margin: 25px 0px;
}

.btn-submit button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: var(--btn-border-radius);
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    border: none;
    background-color: var(--logo-color-light);
    transition: transform 0.3s ease-in;
}

.btn-submit button:hover {
    color: white;
    transform: scale(1.03);
}

.input-error {
    font-size: 18px;
    color: var(--logo-orange);
}
.job-header{
    /* text-align: center; */
    font-size: 45px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.job-header::after{
    position: absolute;
    content: "";
    width: 170px;
    border: 2px solid var(--logo-color-light);
    left: 0;
    bottom: 0;
}
/* Desktop */
@media screen and (min-width: 1010px) {
    .contact-form {
        width: 75%;
        margin-right: 35px;
    }

    .contact-informations {
        width: 25%;
    }
    .form-group-wrapper{
        display: flex;
    }
    .form-group-wrapper > .form-group{
        width: 48%;
        margin-right: 25px;
    }
}

/* Mobile */
@media screen and (max-width: 1010px) {
    .contact-form-informations-wrapper {
        flex-direction: column;
    }
}