.contact-form-informations-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 25px;
    width: 80vw;
    margin: 0 auto;
    margin-top: 180px;
}

.contact-form-informations-wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    left: 0;
    bottom: 0;
}

.contact-form header,
.contact-informations header {
    font-size: 25px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.contact-form header::after,
.contact-informations header::after {
    position: absolute;
    content: "";
    width: 110px;
    border: 2px solid var(--logo-color-light);
    background-color: var(--logo-color-light);
    left: 0;
    bottom: 0;
}

.contact-informations ul li {
    display: flex;
    align-items: center;
}

.contact-informations ul li p {
    margin-left: 15px;
}

.or-container {
    text-align: center;
    font-size: 18px;
    position: relative;
    width: 98.5%;
    margin: 35px 0px;
}

.or-container::before,
.or-container::after {
    position: absolute;
    content: "";
    width: 47%;
    border: 1px solid var(--logo-orange);
    top: 50%;
}

.or-container::before {
    left: 0;
}

.or-container::after {
    right: 0;
}
.contact-result-container{
    text-align: center;
    padding: 15px;
    background-color: aqua;
    border-radius: 15px;
}
.btn-submit {
    text-align: center;
    margin: 25px 0px;
}

.btn-submit button {
    background-color: var(--logo-orange);
}

/* Desktop */
@media screen and (min-width: 1010px) {
    .contact-form {
        width: 75%;
        margin-right: 35px;
    }

    .contact-informations {
        width: 25%;
    }

    .form-group-wrapper {
        display: flex;
        /* justify-content: space-between; */
    }

    .form-group-wrapper .form-group {
        width: 47%;
    }

    .form-group-wrapper .form-group:first-child {
        margin-right: 35px;
    }
}

/* Mobile */
@media screen and (max-width: 1010px) {
    .contact-form-informations-wrapper {
        flex-direction: column;
    }

    .or-container::before,
    .or-container::after {
        width: 40%;
    }
}