.home-container{
    position: relative;
}
@media screen and (min-width: 1010px) {

    .home-container {
        margin-top: 136px;
    }
}

@media screen and (max-width: 1010px) {
    .home-container {
        margin-top: 23vh;
    }
}


@media screen and (max-height:650px) {
    .home-container {
        margin-top: 42vh;
    }
}