:root {
    --primary-color: #67b7e1;
    --logo-color: #1a5590;
    --grey-color: #838383;
    --border-color: #e5e5e5;
    --margin-position: 40vh;
}

.navbar-container {
    border-bottom: 3px solid transparent;
    transition: 0.5s ease;
}

/* contact navbar */
.contact-navbar-wrapper {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-bottom-color: var(--border-color);
    flex-wrap: wrap;
    margin: 0 10vw;
}

.contact-navbar {
    white-space: nowrap;
    font-size: 16px;
}

.contact-navbar>p,
.contact-navbar>p>a {
    color: var(--grey-color);
}

.social-navbar {
    display: flex;
    gap: 20px;
}

/* /contact navbar */

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10vw;
    position: relative;
}


/* options selection */
.option-selected {
    padding-bottom: 31.5px;
    border-bottom: 3px solid var(--primary-color);
    transition: 0.5s ease;
}

.options-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 18px;
}

.options-list>li {
    margin-right: 32px;
    white-space: nowrap;
}

.options-list>li:last-child {
    margin-right: 0px;
}

li>a {
    color: black;
    font-weight: bold;
    white-space: nowrap;
}

li>a:hover {
    color: var(--primary-color);
}

.nav-dropdown {
    position: relative;
    display: inline-block;
    /* background-color: white; */
}

.nav-dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
    right: -96px;
    padding: 40px 10px 0 10px;
    border-radius: 4px;
}

.nav-dropdown-content::before {
    content: "";
    border-top: 3px solid var(--primary-color);
    animation: fadeIn 1s;
    position: absolute;
    width: 90%;
    top: 30px;
    padding-left: 10px;
}

.nav-dropdown-content>li {
    line-height: 36px;
    width: 100%;
    border-top: 3px solid transparent;
    transition: 0.5s ease;
}

.nav-dropdown-content>li:not(:first-child):hover {
    border-top-color: var(--primary-color);
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.options-menu {
    display: none;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.options-menu span {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;

}

.options-menu span:nth-of-type(1) {
    top: 0;
}

.options-menu span:nth-of-type(2) {
    top: 11px;
}

.options-menu span:nth-of-type(3) {
    bottom: 0;
}

.options-menu.menu-active span:nth-of-type(1) {
    transform: translateY(11px) rotate(-45deg);
}

.options-menu.menu-active span:nth-of-type(2) {
    display: none;
}

.options-menu.menu-active span:nth-of-type(3) {
    transform: translateY(-11px) rotate(45deg);
}

@media all and (max-width: 900px) {
    .contact-navbar-wrapper {
        margin: 0;
        flex-direction: column;
    }

    .contact-navbar {
        margin: 10px auto;
        font-size: 12px;
    }

    .social-navbar {
        gap: 30px;
        margin: 10px auto;
    }

    nav {
        justify-content: space-between;
        padding: 0px 30px;
        margin: 0;
    }


    .options-list {
        display: none;
    }

    .options-list>li {
        margin-bottom: 15px;
    }

    .options-slide-active {
        display: block;
        flex-direction: column;
        position: absolute;
        animation: slideToggle 1s;
        top: 87px;
        height: auto;
        width: 100vw;
        left: 0;
        background: white;
        z-index: 1;
    }

    .options-menu {
        display: block;
        position: absolute;
        top: 50%;
        right: 30px;
    }

    .options-menu span {
        transition: all 0.4s;
        z-index: 1;
    }
    .nav-dropdown-content{
        /* padding-left: 50px; */
    }
}

@keyframes slideToggle {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
