:root {
    --primary-color: #67b7e1;
    --logo-color: #1a5590;
    --grey-color: #838383;
    --border-color: #e5e5e5;
    --shadow-color: rgba(221, 217, 217, 0.377);
    --section-radius: 5px;
}

.slideshow-container {
    position: relative;
    width: 100vw;
    height: auto;
}

.slide-img {
    position: relative;
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-section {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: var(--section-radius);
    text-align: center;
}

.slide-details {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: var(--section-radius);
    text-align: center;
    line-height: 1.5;

}

.prev,
.next {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 175px;
    height: 100%;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: transparent;
}

.prev:hover{
    background: linear-gradient(to right, var(--shadow-color), transparent);
}
.next:hover {
    background: linear-gradient(to left, var(--shadow-color), transparent);
}
.next{
    right: 0;
}


.learn-more {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.learn-more>button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: black;
    color: white;
    font-size: 18px;
    width: 200px;
    box-shadow: 0px 0px 11px 0px #000000;

}

.learn-more>button:hover {
    border-color: red;
}

.dots-container {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span[class^="dot-"] {
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.active-dot {
    background-color: green;
    display: none;
}

/* Desktop */
@media screen and (min-width: 900px) {
    .slide-img {
        height: 75vh;
    }

    .slide-section {
        background-color: #1a5590;
        font-size: 40px;
        top: 40%;
    }

    .slide-details {
        font-size: 25px;
        top: 56%;
    }
    span[class^="dot-"]{
        width: 21px;
        height: 21px;
        margin-right: 10px;
    }
}

/* Mobile */
@media screen and (max-width: 900px) {
    .slide-img {
        height: 60vh;
    }

    .slide-section {
        font-size: 31px;
        width: 90%;
        background-color: white;
        top: 25%;
    }

    .slide-details {
        font-size: 18px;
        width: 90%;
        top: 52%;
    }

    span[class^="dot-"]{
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape), (max-height:650px) {
    .slide-details {
        display: none;
    }
}