.slide {
    display: none;
    position: relative;
    width: 100vw;
    height: 60vh;

    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.slide-section {
    position: absolute;
    background-color: aqua;
    left: 40%;
    top: 40%;
}

.slide-details {
    position: absolute;
    background-color: aqua;
    left: 35%;
    top: 60%;
}